:root {
  --primary-color: #fff;
  --invert-primary-color: #000;
  --darker: #7c7c7c;
}

/* Reset some default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: var(--darker);
}
/* Style the header */
header {
  background-color: #a7dbd8;
  color: var(--invert-primary-color);
  text-align: center;
  padding: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
/* End style header */

/* Style the navigation menu */
nav ul {
  list-style-type: none;
  text-align: center;
  padding: 10px;
}

nav li {
  display: inline;
  margin-right: 2rem;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  border-bottom: 3px solid transparent;
  transition: border-bottom 0.3s ease;
}

nav a:hover {
  border-bottom: 3px solid#fff;
}
/* end Style Navigation Menu */

/* Content Start */
.content {
  background-color: #e0e4cc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 25px;
  border-radius: 10px;
  max-width: 50vw;
  height: 60vh;
  margin: 5vh auto 5vh auto;
  position: relative;
  width: 100vw;
}

.input {
  border: none;
  outline: none;
  border-radius: 15px;
  padding: 1em;
  background-color: #ccc;
  box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
  transition: 300ms ease-in-out;
  margin-bottom: 2em;
  width: 35vw;
  font-size: 18px;
}

.content input:focus,
.content input:valid {
  outline: 0;
  background-color: white;
  transform: scale(1.05);
  box-shadow: 13px 13px 100px #969696, -13px -13px 100px #ffffff;
}

.weight {
  position: absolute;
  top: 7vh;
  left: 3vw;
  pointer-events: none;
}
.height {
  position: absolute;
  top: 21vh;
  left: 3vw;
  pointer-events: none;
}

.content label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  color: black;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.content input:focus + label span,
.content input:valid + label span {
  color: lightblue;
  transform: translateY(-2.5em);
}

/* End Content */

/* footer start */
footer {
  width: 100%;
  height: 40vh;
  display: flex;
  background-color: #1e2a78;
  flex-direction: row;
  color: var(--primary-color);
}

/* kiri */
.footer-kiri {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  gap: 1rem;
}

.judul-footer a {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 2rem;
  font-family: "Poppins" sans-serif;
  transition: 0.5s;
}

.judul-footer a:hover {
  letter-spacing: 1px;
}

.location {
  display: flex;
  flex-direction: column;
}

.location span {
  font-family: "Poppins";
  letter-spacing: 1px;
  font-size: 0.9rem;
  width: 40%;
  transition: 0.3s;
}

.location span:hover {
  cursor: default;
  letter-spacing: 2px;
}

.sosmed span {
  font-family: "Poppins";
  transition: 0.5s;
  letter-spacing: 3px;
}

.sosmed span:hover {
  letter-spacing: 5px;
  cursor: default;
}

.logo-sosmed {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 1vh;
  width: 15%;
}

.logo-sosmed a svg {
  transition: 0.5s;
}

.logo-sosmed a svg:hover {
  width: 35px;
  height: 35px;
}

.copyright {
  color: #c4c4c4;
}

.copyright:hover {
  cursor: default;
}

/* kanan */
.footer-kanan {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  padding: 0 15rem;
}

.footer-kanan a {
  display: flex;
  text-decoration: none;
  color: var(--primary-color);
  letter-spacing: 3px;
  transition: 0.5s;
  width: 150%;
}

.footer-kanan a:hover {
  letter-spacing: 4px;
}
/* footer end */

/* Add responsive design */
@media (max-width: 768px) {
  html {
    overflow-y: hidden;
  }
  /* FOOTER */
  footer {
    width: 100%;
    height: 25vh;
    display: flex;
    background-color: #1e2a78;
    flex-direction: row;
    color: var(--primary-color);
  }

  /* kiri */
  .footer-kiri {
    padding: 2rem;
    width: 80%;
    gap: 0.3rem;
  }

  .judul-footer a {
    font-size: 0.75rem;
  }

  .location span {
    font-family: "Poppins";
    letter-spacing: 1px;
    font-size: 0.35rem;
    width: 100%;
  }

  .sosmed span {
    font-size: 0.6rem;
    letter-spacing: 2px;
  }

  .logo-sosmed {
    width: 25%;
  }

  .logo-sosmed a svg {
    width: 1rem;
  }

  .copyright {
    width: 100%;
    font-size: 0.5rem;
    color: #c4c4c4;
  }

  /* kanan */
  .footer-kanan {
    width: 50%;
    gap: 0.3rem;
    padding: 0 0.1rem;
  }

  .footer-kanan a {
    font-size: 0.5rem;
    letter-spacing: 1px;
  }

  .footer-kanan a:hover {
    letter-spacing: 1px;
  }
  /* FOOTER END */
}
